<div id="credentials" class="tab" style="display:none;">
	<div class="w3-padding">
			<div class="w3-third w3-border" style="width:33%; height:85vh; overflow:scroll;">
					<%for(let credential of credentials) {%>
							<a onclick="showDiv('<%=credential.referent%>', 'credentialsClass')">
									<div class="w3-bar w3-btn w3-white w3-border" style="width:100%;">
											<svg class="w3-bar-item" width="50" height="50" data-jdenticon-value="<%=credential.cred_def_id%>"></svg>
											<p class="w3-bar-item"><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></p>
									</div>
							</a>
							<br>
					<%}%>
			</div>
			<%for(let credential of credentials) {%>
					<div id="<%=credential.referent%>" class="w3-padding credentialsClass" style="float:left;width:66%;display:none;">
							<div class="w3-border w3-container" style="margin:50px 50px;">
									<div class="w3-cell-middle" style="display: block;margin: auto;">
											<img width="320" height="320" src="<%=srcId%>" />
											<!-- <svg width="320" height="320" data-jdenticon-value="<%=credential.cred_def_id%>"></svg> -->
									</div>
									<div class="w3-cell" style="display: block;margin: auto;">
											<h4><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></h4>
											<%for(let attr of Object.keys(credential.attrs).sort()) {%>
											<p style="text-align: left"><%=attr%>: <%=credential.attrs[attr]%></p>
											<%}%>
									</div>
							</div>

							<%- include('landing', {credential: credential}); %>

						
							<div id="exporttopdf-<%=credential.referent%>" style="display:none;">
								<html xmlns="http://www.w3.org/1999/xhtml">
									<head>
											<title></title>
											<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
											<script type="text/javascript">
													$("#btnPrint").live("click", function () {
															var divContents = $("#dvContainer").html();
															var printWindow = window.open('', '', 'height=400,width=800');
															printWindow.document.write('<html><head><title>DIV Contents</title>');
															printWindow.document.write('</head><body >');
															printWindow.document.write(divContents);
															printWindow.document.write('</body></html>');
															printWindow.document.close();
															printWindow.print();
													});
											</script>
									</head>
									<body>
											<form id="form1">
											<div id="dvContainer">
													<head>
															<meta name="viewport" content="width=device-width, initial-scale=1.0">
															<style>
															* {
																box-sizing: border-box;
															}
															
															.menu {
																float: left;
																width: 20%;
																text-align: center;
															}
															
															.menu a {
																background-color: #e5e5e5;
																padding: 8px;
																margin-top: 7px;
																display: block;
																width: 100%;
																color: black;
															}
															
															.main {
																float: left;
																width: 60%;
																padding: 0 20px;
															}
															
															.right {
																background-color: #e5e5e5;
																float: left;
																width: 20%;
																padding: 15px;
																margin-top: 7px;
																text-align: center;
															}
															
															@media only screen and (max-width: 620px) {
																/* For mobile phones: */
																.menu, .main, .right {
																	width: 100%;
																}
															}
															</style>
															</head>
															<body style="font-family:Verdana;">
															
															<div style="background-color:hwb(99 84% 8%);padding:15px;text-align:center;">
																	<img width="96" height="96" src="C:/Users/rnayak/Downloads/favtar/favtar/images/logo.jpeg">
																	<h1>Customer Service: <%=credential.attrs['tax_id']%></h1>
															</div>
															
															<div style="overflow:auto">
																<div class="menu">
																	<img width="96" height="96" src="C:/Users/rnayak/Downloads/favtar/favtar/images/employee.jpeg">
																	
																</div>
															
																<div class="main">
																	<img width="32" height="32" src="C:/Users/rnayak/Downloads/favtar/favtar/images/logo.jpeg">
																	<h5> <%=credential.attrs['name']%></h5>

																	<%for(let attr of Object.keys(credential.attrs).sort()) {%>
																		<%if(attr != "name" && attr != "tax_id") {%>
																			<h2><%=attr%>: <%=credential.attrs[attr]%></h2>
																		<%}%>
																	<%}%>
																	</div>
															
																<div class="right">
																	<h2>About me</h2>
																	<p>I'm not with the utility</p>
																</div>
															</div>
															
															<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© copyright Fabvatar</div>
															
															</body>
											</div>
											<input type="button" value="Print Div Contents" id="btnPrint" />
											</form>
									</body>
									</html>
							</div>

							<div id="qrcode-<%=credential.referent%>" style="display:none;">
								<!DOCTYPE html>
								<html>
									
								<head>
									<!-- Include Bootstrap for styling -->
									<link rel="stylesheet" href=
								"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
									
									<style>
										.qr-code {
											max-width: 200px;
											margin: 10px;
										}
									</style>
									
									<title>QR Code Generator</title>
								</head>
									
								<body>
									<div class="container-fluid">
										<div class="text-center">
									
											<!-- Get a Placeholder image initially,
											this will change according to the
											data entered later -->
											<img src=
								"https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=160x160&chld=L|0"
												class="qr-code img-thumbnail img-responsive" />
										</div>
									
										<div class="form-horizontal">
											<div class="form-group">
												<label class="control-label col-sm-2"
													for="content">
													Content:
												</label>
												<div class="col-sm-10">
									
													<!-- Input box to enter the 
															required data -->
													<input type="text" size="60" 
														maxlength="60" class="form-control"
														id="content" placeholder="Enter content" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
									
													<!-- Button to generate QR Code for
													the entered data -->
													<button type="button" class=
														"btn btn-default" id="generate">
														Generate
													</button>
												</div>
											</div>
										</div>
									</div>
									<script src=
										"https://code.jquery.com/jquery-3.5.1.js">
									</script>
									
									<script>
										// Function to HTML encode the text
										// This creates a new hidden element,
										// inserts the given text into it 
										// and outputs it out as HTML
										function htmlEncode(value) {
											return $('<div/>').text(value)
												.html();
										}
									
										$(function () {
									
											// Specify an onclick function
											// for the generate button
											$('#generate').click(function () {
									
												// Generate the link that would be
												// used to generate the QR Code
												// with the given data 
												let finalURL =
								'https://chart.googleapis.com/chart?cht=qr&chl=' +
													htmlEncode($('#content').val()) +
													'&chs=160x160&chld=L|0'
									
												// Replace the src of the image with
												// the QR code image
												$('.qr-code').attr('src', finalURL);
											});
										});
									</script>
								</body>
									
								</html>
							</div>


							<%if(credential.schema_id !== undefined && !credential.schema_id.split(':')[2].includes("Government-ID111")) {%>
								<button onClick="exportHtml('<%=credential.referent%>')" class="w3-btn w3-white w3-border">Export to Html</button>
							<%}%>
					</div>
			<%}%>
	</div>
	<!-- <button onclick="document.getElementById('sendCredModel').style.display='block'" class="w3-btn w3-white w3-border">Start</button> -->
</div>

<script type="text/javascript">
	function exportHtml(id) {
		var randing_element = document.getElementById("randing-" + id);
		if (randing_element !== undefined && randing_element != null) {
			randing_element.style['display']='block';

		// 		var html = randing_element.innerHTML;
		// 		const htmlBlob = new Blob([html], { type: "text/html" });
		// 		const blobUrl = URL.createObjectURL(htmlBlob);
		// 		const anchorElement = document.createElement("a");
		// 		anchorElement.href = blobUrl;
		// 		anchorElement.download = "randing.html";
		// 		anchorElement.click();
		}
		// var pdf_element = document.getElementById("exporttopdf-" + id);
		// if (pdf_element !== undefined && pdf_element != null) {
		// 		var html = pdf_element.innerHTML;
		// 		const htmlBlob = new Blob([html], { type: "text/html" });
		// 		const blobUrl = URL.createObjectURL(htmlBlob);
		// 		const anchorElement = document.createElement("a");
		// 		anchorElement.href = blobUrl;
		// 		anchorElement.download = "exporttopdf.html";
		// 		anchorElement.click();
		// }
		// var qrcode_element = document.getElementById("qrcode-" + id);
		// if (qrcode_element !== undefined && qrcode_element != null) {
				// var html = qrcode_element.innerHTML;
				// const htmlBlob = new Blob([html], { type: "text/html" });
				// const blobUrl = URL.createObjectURL(htmlBlob);
				// const anchorElement = document.createElement("a");
				// anchorElement.href = blobUrl;
				// anchorElement.download = "qrcode.html";
				// anchorElement.click();
		// }
	}
</script>