<div id="randing-<%=credential.referent%>" style="display: none;width:100%;height: 100%; background: white; position: fixed; left: 0; top:0;">
  <!DOCTYPE html>
  <html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  * {
    box-sizing: border-box;
  }

  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }

  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }

  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }

  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jdenticon@2.0.0"></script>
  </head>
  <body style="font-family:Verdana; background: white; position: fixed; width: 100%; height: 100%;">

  <div style="background-color:hwb(99 84% 8%);padding:15px;text-align:center;">
      <!-- <img width="96" height="96" src="C:/Users/rnayak/Downloads/favtar/favtar/images/logo.jpeg"> -->
      <svg class="w3-bar-item" width="96" height="96" data-jdenticon-value="<%=credential.cred_def_id%>"></svg>
      <h1>Customer Service: <%=credential.attrs['tax_id']%></h1>
  </div>

  <div style="overflow:auto">
    <div class="menu">
      <img width="96" height="96" src="<%=srcId%>">
      <a href="exporttopdf-<%=credential.referent%>.html">Export to PDF</a>
      <a href="qrcode-<%=credential.referent%>.html">Generate QR Code</a>
    </div>

    <div class="main">
      <!-- <img width="32" height="32" src="C:/Users/rnayak/Downloads/favtar/favtar/images/logo.jpeg"> -->
      <svg class="w3-bar-item" width="32" height="32" data-jdenticon-value="<%=credential.cred_def_id%>"></svg>
      <h5> <%=credential.attrs['name']%></h5>

      <%for(let attr of Object.keys(credential.attrs).sort()) {%>
        <%if(attr != "name" && attr != "tax_id") {%>
          <h2><%=attr%>: <%=credential.attrs[attr]%></h2>
        <%}%>
      <%}%>
      <!-- <h2>ID: EnolascoTOP</h2> -->
      </div>

    <div class="right">
      <h2>About me</h2>
      <p>I'm not with the utility</p>
    </div>
  </div>
  <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© copyright Fabvatar</div>
  </body>
  </html>	
</div>